[package]
name = "password_generator"
version = "0.1.0"
edition = "2024"

[dependencies]
rand = "0.9.2"

[profile.dev]
incremental = true

[profile.release]
codegen-units = 1
lto = "fat"
opt-level = "z"
strip = "debuginfo"
